body {
  margin: 20px;
  padding: 20px;
}
.container {
display: flex;
flex-direction: column;
}
.bigbox {
  border: 1px solid #ddd;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.task-list {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}

.task-item {
  background-color: #fafaf8;
  border: 1px solid #b5bcc2;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 10px;
  cursor: grab;
  position: relative;
}
.delete-btn {
  position: absolute;
  border: none;
  background: none;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  color: red;
}