body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa; /* Light gray background */
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff; /* White background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

.bigbox {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

.task-list {
  border: 1px solid #ddd;
  padding: 15px; /* Increased padding for better spacing */
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

button {
  background-color: #007bff; /* Bootstrap primary color */
  color: #ffffff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* button:hover {
  background-color: #0056b3; /* Darker shade on hover */
} */
#taskInput {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 8px;
  width: 70%;
  margin-right: 10px;
  position: relative;
}
.task-item {
  background-color: #fafaf8;
  border: 1px solid #b5bcc2;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 10px;
  cursor: grab;
  position: relative;
}
.delete-btn {
  position: absolute;
  border: none;
  background: none;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

